.footerContainer {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    font-family: 'Helvetica', serif;
    margin-top: 6rem;

}


.footerContainer::before {
    content: "";
    width: 80%; /* Réduire la largeur de la ligne de séparation */
    height: 1px;
    background-color: black;
    margin: 2rem; /* Ajouter une marge pour espacer la ligne des autres éléments */
    align-self: center; /* Centrer la ligne de séparation */
}
